body{
    background-color: #E7E7E7;
}
.dashboard {
    display: grid;
    grid-template-columns:  auto auto auto auto; 
    grid-gap: 20px; 
  }
  
  .card {
    width: 250px;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;

   
  }
  
  .price {
    font-size: 24px;
    font-weight: bold;
  }
  
  .tag {
    margin-top: 8px;
    color: #666;
  }

  .charts{
    display: flex;
    justify-content: center;
    align-items: center;
 
    
  }
  .chart-box{
    width:100%;
    margin: 10px;
  }
  .chart{
   
    background-color: #FFFFFF;
    
    
  }
  .heading{
    font-weight: bold;
    margin: 10px 0px;
  }
  .end{
    text-align: center;
    font-weight: bold;
  }